In [38]:
import logging
from time import time
from os import listdir
from numpy.random import RandomState
import matplotlib.pyplot as plt
from cmocean import cm
import numpy as np
from sklearn.datasets import fetch_olivetti_faces
from sklearn.cluster import MiniBatchKMeans
from sklearn import decomposition
import cv2
import matplotlib.pylab as pylab
import pandas as pd
import datetime
%matplotlib inline

In [16]:
directory = '/home/nilavro/data/f03/2017-12-19/1513664059443'
start =  np.float64(sorted(listdir(directory))[0]) 
stop = np.float64(sorted(listdir(directory))[len(sorted(listdir(directory)))-1])

In [31]:
nest = '/home/nilavro/WorkStation/data/Data/NEST/Data_MyHome'

NEST = pd.read_csv(nest + '/nest.csv' ,sep=',')

NEST.tail()

,Unnamed: 0,uname,device_name,timestamp,mode,fan,temperature,humidity,target,away_heat,away_cool,hvac_on,online
2158,2158,nilavra,Dining Room Thermostat,1.513993e+09,heat,0,73.0,0.35,73.0,50.0,90.0,hea,1
2159,2159,nilavra,Dining Room Thermostat,1.513993e+09,heat,0,74.0,0.35,73.0,50.0,90.0,hea,1
2160,2160,nilavra,Dining Room Thermostat,1.513993e+09,heat,0,74.0,0.35,73.0,50.0,90.0,off,1
2161,2161,nilavra,Dining Room Thermostat,1.513994e+09,heat,0,73.0,0.35,73.0,50.0,90.0,off,1
2162,2162,nilavra,Dining Room Thermostat,1.513995e+09,heat,0,73.0,0.35,73.0,50.0,90.0,off,1

In [51]:
NEST.loc[NEST.hvac_on.isin(['off']), 'hvac_on'] = 0
NEST.loc[NEST.hvac_on.isin(['hea']), 'hvac_on'] = 1
NEST.tail()

,Unnamed: 0,uname,device_name,timestamp,mode,fan,temperature,humidity,target,away_heat,away_cool,hvac_on,online,False
2158,2158,nilavra,Dining Room Thermostat,1.513993e+09,heat,0,73.0,0.35,73.0,50.0,90.0,1,1,1
2159,2159,nilavra,Dining Room Thermostat,1.513993e+09,heat,0,74.0,0.35,73.0,50.0,90.0,1,1,1
2160,2160,nilavra,Dining Room Thermostat,1.513993e+09,heat,0,74.0,0.35,73.0,50.0,90.0,0,1,1
2161,2161,nilavra,Dining Room Thermostat,1.513994e+09,heat,0,73.0,0.35,73.0,50.0,90.0,0,1,1
2162,2162,nilavra,Dining Room Thermostat,1.513995e+09,heat,0,73.0,0.35,73.0,50.0,90.0,0,1,1

In [74]:
NEST['date'] = pd.to_datetime(NEST['timestamp'], unit='s')

In [75]:
NEST.head()

,Unnamed: 0,uname,device_name,timestamp,mode,fan,temperature,humidity,target,away_heat,away_cool,hvac_on,online,False,date
0,0,nilavra,Dining Room Thermostat,1.512594e+09,heat,0,71.0,0.4,69.0,63.0,88.0,0,1,1,2017-12-06 21:02:44.792
1,1,nilavra,Dining Room Thermostat,1.512594e+09,heat,0,71.0,0.4,76.0,63.0,88.0,1,1,1,2017-12-06 21:06:51.957
2,2,nilavra,Dining Room Thermostat,1.512594e+09,heat,0,71.0,0.4,69.0,63.0,88.0,0,1,1,2017-12-06 21:07:57.083
3,3,nilavra,Dining Room Thermostat,1.512595e+09,heat,0,71.0,0.4,69.0,63.0,88.0,0,1,1,2017-12-06 21:20:28.958
4,4,nilavra,Dining Room Thermostat,1.512597e+09,heat,0,71.0,0.4,69.0,63.0,88.0,0,1,1,2017-12-06 21:43:55.664